@font-face {
  font-family: 'FontAwesome5Pro-Light';
  src: url('FontAwesome5Pro-Light.eot');
  src: url('FontAwesome5Pro-Light.eot?#iefix') format('embedded-opentype'),
       url('FontAwesome5Pro-Light.svg#FontAwesome5Pro-Light') format('svg'),
       url('FontAwesome5Pro-Light.ttf') format('truetype'),
       url('FontAwesome5Pro-Light.woff') format('woff'),
       url('FontAwesome5Pro-Light.woff2') format('woff2');
  font-weight: Light;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome5Pro-Regular';
  src: url('FontAwesome5Pro-Regular.eot');
  src: url('FontAwesome5Pro-Regular.eot?#iefix') format('embedded-opentype'),
       url('FontAwesome5Pro-Regular.svg#FontAwesome5Pro-Regular') format('svg'),
       url('FontAwesome5Pro-Regular.ttf') format('truetype'),
       url('FontAwesome5Pro-Regular.woff') format('woff'),
       url('FontAwesome5Pro-Regular.woff2') format('woff2');
  font-weight: Regular;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome5Pro-Solid';
  src: url('FontAwesome5Pro-Solid.eot');
  src: url('FontAwesome5Pro-Solid.eot?#iefix') format('embedded-opentype'),
       url('FontAwesome5Pro-Solid.svg#FontAwesome5Pro-Solid') format('svg'),
       url('FontAwesome5Pro-Solid.ttf') format('truetype'),
       url('FontAwesome5Pro-Solid.woff') format('woff'),
       url('FontAwesome5Pro-Solid.woff2') format('woff2');
  font-weight: Solid;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome5Brands-Regular';
  src: url('FontAwesome5Brands-Regular.eot');
  src: url('FontAwesome5Brands-Regular.eot?#iefix') format('embedded-opentype'),
       url('FontAwesome5Brands-Regular.svg#FontAwesome5Brands-Regular') format('svg'),
       url('FontAwesome5Brands-Regular.ttf') format('truetype'),
       url('FontAwesome5Brands-Regular.woff') format('woff'),
       url('FontAwesome5Brands-Regular.woff2') format('woff2');
  font-weight: Brands-Regular;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome5Duotone-Solid';
  src: url('FontAwesome5Duotone-Solid.eot');
  src: url('FontAwesome5Duotone-Solid.eot?#iefix') format('embedded-opentype'),
       url('FontAwesome5Duotone-Solid.svg#FontAwesome5Duotone-Solid') format('svg'),
       url('FontAwesome5Duotone-Solid.ttf') format('truetype'),
       url('FontAwesome5Duotone-Solid.woff') format('woff'),
       url('FontAwesome5Duotone-Solid.woff2') format('woff2');
  font-weight: Duotone-Solid;
  font-style: normal;
}
